<template name="navigation">
  <nav>
    <div class="nav-wrapper indigo lighten-3">
      <a href="/" class="brand-logo center">Non-Profit Finder</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"
        ><i class="material-icons">menu</i></a
      >
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        {{#if userLoggedIn}}
        <li><a href="/directory">Directory</a></li>
        <li>
          <a class="myProfileLink" href="/profiles/{{ userProfileLink }}"
            >My Profile
          </a>
        </li>

        <li><a class="logout btn">Logout</a></li>
        {{else}}
        <li><a href="/login">Login / Sign-Up</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    {{#if userLoggedIn}}
    <li><a href="/directory">Directory</a></li>
    <li><a href="/profiles/{{ userProfileLink }}">My Profile</a></li>
    <li><a class="logout btn">Logout</a></li>
    {{else}}
    <li><a href="/login">Login / Sign-Up</a></li>
    {{/if}}
  </ul>
  <script>
    $(document).ready(function() {
      $('.sidenav').sidenav()
    })
  </script>
</template>
