<template name="profilesDirectory">
  <section>
    <h3>Profiles</h3>
    <h5>This is a list of all members of our platform</h5>
    <ul>
      {{#each profile in listOfProfiles}}

      {{#if isUser}}

      <!-- show nothing -->

      {{else}}

      {{#if profile.name}}
      <li>
        <b>Name:</b>
        <a
          id="username"
          href="/profiles/{{ profile.userId }}"
          class="collection-item"
          >{{ profile.name }}</a
        >

        {{#if profile.inTeam }}
        <span><b>Status:</b> user belongs to team</span> {{else}}
        {{#if userOwnsTeam}}
        <button
          class="add-to-team"
          name="{{ profile.name }}"
          id="{{ profile.userId }}"
        >
          Add to Team
        </button>

        {{/if}} {{/if}}
      </li>
      {{else}}
      <!-- blank so you don't show profile until user adds their information to their profile-->

      {{/if}}
      {{/if}}

      {{/each}}
    </ul>
  </section>
</template>
